<app-header title="Course Details"></app-header>
<!-- Detail Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-8">
                <div class="mb-5">
                    <div class="section-title position-relative mb-5">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Course Detail
                        </h6>
                        <h1 class="display-4">{{courseDetails?.title}}</h1>
                    </div>
                    <img class="course-image rounded mb-4" src="{{path+courseDetails?.image}}"
                        alt="{{courseDetails?.title}}">
                    <p class="description" [innerHtml]="courseDetails?.description"></p>

                    <a  href="{{path+courseDetails?.attachment}}" class="font-weight-bold " *ngIf="courseDetails?.isattach">Download File <i class="fa fa-download"></i></a>
                </div>

                <!-- <h2 class="mb-3">Related Courses</h2>
                <div class="owl-carousel related-carousel position-relative" style="padding: 0 30px;">

                </div> -->
            </div>

            <div class="col-lg-4 mt-5 mt-lg-0">
                <div class="bg-dark mb-5 py-3">
                    <h3 class="text-white py-3 px-4 m-0">Course Features</h3>
                    <!-- <div class="d-flex justify-content-between border-bottom px-4">
                        <h6 class="text-white my-3">Instructor</h6>
                        <h6 class="text-white my-3">John Doe</h6>
                    </div> -->
                    <div class="d-flex justify-content-between border-bottom px-4">
                        <h6 class="text-white my-3">Lectures</h6>
                        <h6 class="text-white my-3">{{courseDetails?.lectures}}</h6>
                    </div>
                    <div class="d-flex justify-content-between border-bottom px-4">
                        <h6 class="text-white my-3">Duration</h6>
                        <h6 class="text-white my-3">{{courseDetails?.duration}} Hrs</h6>
                    </div>
                    <div class="d-flex justify-content-between border-bottom px-4">
                        <h6 class="text-white my-3">Skill level</h6>
                        <h6 class="text-white my-3">All Level</h6>
                    </div>
                    <div *ngIf="courseDetails?.rating > 0" class="d-flex justify-content-between border-bottom px-4">
                        <h6 class="text-white my-3">Rating</h6>
                        <h6 class="text-white my-3">{{courseDetails?.rating}} <small>(250)</small></h6>
                    </div>
                    <!-- <div class="d-flex justify-content-between px-4">
                        <h6 class="text-white my-3">Language</h6>
                        <h6 class="text-white my-3">English </h6>
                    </div> -->
                    <h5 *ngIf="courseDetails?.price > 0" class="text-white py-3 px-4 m-0">Course Price: ${{courseDetails?.price}}</h5>
                    <!-- <div class="py-3 px-4">
                        <a class="btn btn-block btn-secondary py-3 px-5" href="">Enroll Now</a>
                    </div> -->
                </div>


                <div class="mb-5">
                    <h2 class="mb-4">Recent Courses</h2>

                    <div *ngFor="let randomCourse of randomCourses">
                        <a class="d-flex align-items-center text-decoration-none mb-4"
                            routerLink="/courseDetails/{{randomCourse.id}}">
                            <img class="recent-courses rounded" src="{{path+randomCourse?.image}}"
                                alt="{{randomCourse?.title}}">
                            <div class="pl-3">
                                <h6>{{randomCourse?.title}}</h6>
                                <div class="d-flex">
                                    <small class="text-body mr-3"><i class="fa fa-user text-primary mr-2"></i>Jhon
                                        Doe</small>
                                    <small class="text-body"><i
                                            class="fa fa-star text-primary mr-2"></i>{{randomCourse?.rating}}
                                        (250)</small>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<app-loader *ngIf="loader"></app-loader>


<!-- Detail End -->
