<!-- Header Start -->

<div class=" jumbotron-fluid position-relative overlay-bottom" style="margin-bottom: 90px;">
    <div class="">
        <button class="muted" type="button" (click)="muteF()">
            <i class="fas fa-volume-up" id="muted"></i>
        </button>
        <button class="play" type="button" (click)="playPause()">
            <i class="fas fa-pause-circle" id="play"></i>
        </button>
        <!-- (onload)="playPause()" -->
        <video width="100%" class="vsingle" #myVideo id="playVideo" autoplay loop muted="false"
            onloadedmetadata="this.muted = false" *ngIf="isPage">
            <source [src]="path+video.video" type="video/mp4">
        </video>
    </div>
</div>

<!-- Header End -->
<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;" *ngIf="aboutUs?.about_img">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" alt="master key" src="{{path+aboutUs?.about_img}}"
                        style="object-fit: cover;">
                </div>
            </div>
            <div [ngClass]="aboutUs?.about_img == null ? 'col-lg-12' : 'col-lg-7'">
                <div class="section-title position-relative mb-4 color-text">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">About Us</h6>
                    <h1 class="display-4">{{aboutUs?.aboutus}}</h1>
                </div>
                <p>{{aboutUs?.description}}</p>
                <div class="row pt-3 mx-0">
                    <div class="col-3 px-0">
                        <div class="bg-success text-center p-2">
                            <h1 class="text-white" data-toggle="counter-up">{{aboutUs?.subjects}}</h1>
                            <h6 class="text-uppercase text-white">Available  
                                <span class="d-block">courses</span></h6>
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <div class="bg-primary text-center p-2">
                            <h1 class="text-white" data-toggle="counter-up">{{aboutUs?.courses}}</h1>
                            <h6 class="text-uppercase text-white">Online<span class="d-block">Courses</span></h6>
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <div class="bg-secondary text-center p-2">
                            <h1 class="text-white" data-toggle="counter-up">{{aboutUs?.instructors}} %</h1>
                            <h6 class="text-uppercase text-white">Success  
                                <span class="d-block">rate</span></h6>
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <div class="bg-warning text-center p-2">
                            <h1 class="text-white" data-toggle="counter-up">{{aboutUs?.students}}</h1>
                            <h6 class="text-uppercase text-white">Happy<span class="d-block">Students</span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->




<!-- Feature Start -->
<div class="container-fluid py-5 bg-image">
    <div class="container py-5">
        <div class="row">
            <div [ngClass]="aboutUs?.chooses_img == null ? 'col-lg-12' : 'col-lg-7'" class="mb-5 mb-lg-0">
                <div class="section-title position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Why Choose Us?</h6>
                    <h1 class="display-4">{{aboutUs?.chooses_us}}</h1>
                </div>
                <p class="mb-4 pb-2 text-dark">{{aboutUs?.description_2}}</p>
                <div class="d-flex mb-3 col-md-12">
                    <div class="btn-icon bg-primary mr-4">
                        <i class="fa fa-2x fa-graduation-cap text-white"></i>
                    </div>
                    <div class="mt-n1">
                        <h4>Skilled Instructors</h4>
                        <p class="m-0 text-dark">{{aboutUs?.about_instructors}}</p>
                    </div>
                </div>
                <div class="d-flex mb-3 col-md-12">
                    <div class="btn-icon bg-secondary mr-4">
                        <i class="fa fa-2x fa-certificate text-white"></i>
                    </div>
                    <div class="mt-n1">
                        <h4>International Certificate</h4>
                        <p class="m-0 text-dark">{{aboutUs?.about_certificate}}</p>

                    </div>
                </div>
                <div class="d-flex col-md-12">
                    <div class="btn-icon bg-warning mr-4">
                        <i class="fa fa-2x fa-book-reader text-white"></i>
                    </div>
                    <div class="mt-n1">
                        <h4>Online Classes</h4>
                        <p class="m-0 text-dark">{{aboutUs?.about_classes}}</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-5" style="min-height: 500px;" *ngIf="aboutUs?.chooses_img">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" alt="master key" src="{{path+aboutUs?.chooses_img}}"
                        style="object-fit: cover;">
                </div>

            </div>
        </div>
    </div>

</div>



    <!-- Courses Start -->
    <div class="container-fluid px-0 py-5">
        <div class="row mx-0 justify-content-center pt-5">
            <div class="col-lg-6">
                <div class="section-title text-center position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Our Courses</h6>
                    <h1 class="display-4">Checkout New Releases Of Our Courses</h1>
                </div>
            </div>
        </div>
        <owl-carousel-o [options]="CoursesOptions">
   
            <ng-container *ngFor="let course of courses" >
              <ng-template carouselSlide >
               <div class="courses-item position-relative">
                <img class="img-fluid" src="{{path+course.image}}" alt="{{course.title}}">
                <div class="courses-text">
                    <h4 class="text-center text-white px-3">{{course.title}}</h4>
                    <div class="border-top w-100 mt-3">
                        <div class="d-flex justify-content-between p-4">
                            <span *ngIf="course.rating > 0" class="text-white"><i class="fa fa-star mr-2"></i>{{course.rating}} <small>(250)</small></span>
                        </div>
                    </div>
                    <div class="w-100 bg-white text-center p-4" >
                        <a class="btn btn-primary" routerLink="/courseDetails/{{course.id}}">Course Detail</a>
                    </div>
                </div>
               </div>
              </ng-template>
            </ng-container>
               
            </owl-carousel-o>
    </div>
    <!-- Courses End -->

<!-- Testimonial Start -->
<div class="container-fluid bg-image py-5" style="margin: 90px 0;">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5 mb-5 mb-lg-0">
                <div class="section-title position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Testimonial</h6>
                    <h1 class="display-4">What Our Students Say</h1>
                </div>
               
            </div>
            <div class="col-lg-7 hight-section">
                <owl-carousel-o [options]="customOptions">
                    <ng-container *ngFor="let item of testimonials">
                        <ng-template carouselSlide [data-id]="item.id">
                            <div class="bg-white p-5">
                                <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                                <p>{{item.description}}</p>
                                <div class="d-flex flex-shrink-0 align-items-center mt-4">
                                    <img class="img-fluid mr-4 test-image" *ngIf="item.image != null" [src]="path+item.image" alt="">
                                    <div>
                                        <h5>{{item.name}}</h5>
                                        <!-- <span>Web Design</span> -->
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial Start -->
<app-loader *ngIf="loader"></app-loader>