<!-- Footer Start -->
<div class="container-fluid position-relative overlay-top bg-dark text-white-50 py-5" style="margin-top: 90px;">
    <div class="container mt-5 pt-5">
        <form [formGroup]="subscriptionForm" (ngSubmit)="subscriptionSubmit()">
            <div class="row">
                <div class="col-md-6 mb-5">
                    <input [class.is-invalid]="subscriptionForm.controls['email'].invalid&&subscriptionForm.controls['email'].touched" type="email" class="form-control border-light" formControlName="email" style="padding: 30px;" placeholder="Your Email Address">
                        <div *ngIf="subscriptionForm.controls['email'].invalid&&subscriptionForm.controls['email'].touched" class="alert alert-danger">Your Email is not valid</div>
                </div>
                <div class="col-md-6 mb-5">
                    <div class="w-100">
                        <div class="input-group">
                            <input [class.is-invalid]="subscriptionForm.controls['phone'].invalid&&subscriptionForm.controls['phone'].touched" type="text" formControlName="phone" class="form-control border-light" style="padding: 30px;"
                                placeholder="Your Number">
                                <div class="input-group-append">
                                    <button [disabled]="subscriptionForm.invalid" type="submit" class="btn backgroundColor px-4 text-white">Subscribe</button>
                                </div>
                            </div>
                            <div *ngIf="subscriptionForm.controls['phone'].invalid&&subscriptionForm.controls['phone'].touched" class="alert alert-danger">Your Number is not valid</div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-4 mb-5">
                <h3 class="text-white mb-4">Get In Touch</h3>
                <p><i class="fa fa-map-marker-alt mr-2"></i><a href="https://www.google.com/maps/place/27+Samir+Abd+El-Raouf,+Al+Manteqah+Ath+Thamenah,+Nasr+City,+Cairo+Governorate+4441533/@30.0514966,31.3463874,17z/data=!3m1!4b1!4m5!3m4!1s0x14583e7b8fe9bff9:0x6a6b191ed91a2e95!8m2!3d30.0514966!4d31.3463874?hl=en-EG"> 27 Samir Abd El-Raouf, Makram Ebied extension, Al Mantiqah Al Thamenah, Nasr city, Cairo Governorate.</a></p>
                <p><i class="fa fa-phone-alt mr-2"></i><a href="tel:01033737309">+2 01033737309</a></p>
                <p><i class="fa fa-envelope mr-2"></i><a href = "mailto: info@masterkeydent.com">info@masterkeydent.com</a></p>
                <div class="d-flex justify-content-start mt-4">
                    <a class="text-white mr-4" href="https://www.facebook.com/masterkeyzamalat/"> <img class="facebook" src="../../../assets/image/facebook.png" /></a>
                    <a class="text-white mr-4" href="https://instagram.com/masterkeyacademy?igshid=YmMyMTA2M2Y="><img class="facebook" src="../../../assets/image/Instagram_icon.png.webp" /></a> 
                    <a class="text-white mr-4" href="https://youtube.com/@masterkeyacademy-7200"><img class="facebook" src="../../../assets/image/youtube.png" /></a>
                    <!-- <a class="text-white mr-4" href="#"><i class="fab fa-2x fa-linkedin-in"></i></a> -->
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <h3 class="text-white mb-4">Quick Links</h3>
                <div class="d-flex flex-column justify-content-start">

                    <a class="text-white-50 mb-2" routerLink="FAQs"><i class="fa fa-angle-right mr-2"></i>FAQs</a>
                    <a class="text-white-50" routerLink="contact"><i class="fa fa-angle-right mr-2"></i>Contact</a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-loader *ngIf="loader"></app-loader>

<!-- Footer End -->